#include "branding.h"
#include <winver.h>
#include <Windows.h>

1 VERSIONINFO
FILEVERSION     PRISCAS_BRANDING_FULL_VERSION
PRODUCTVERSION  PRISCAS_BRANDING_FULL_VERSION
FILEFLAGSMASK   0x3F
FILEFLAGS       0x0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0x0
{
		BLOCK "StringFileInfo"
		{
			BLOCK "040904B0"
			{
				VALUE "CompanyName", PRISCAS_BRANDING_AUTHOR
				VALUE "FileVersion", PRISCAS_BRANDING_FULL_VERSION_STRING
				VALUE "FileDescription", "PRISCAS Core Library"
				VALUE "InternalName", "PRISCAS_Core"
				VALUE "LegalCopyright", PRISCAS_BRANDING_COPYRIGHT
				VALUE "OriginalFilename", "mtcore.dll"
				VALUE "ProductName", "PRISCAS Core Library"
				VALUE "ProductVersion", PRISCAS_BRANDING_FULL_VERSION_STRING
			}
		}

		BLOCK "VarFileInfo"
		{
			Value "Translation", 0x409, 1200
		}
}

1 ICON "../art/icon/priscas_icon_win32.ico"